body {
	background: /*#B0C4DE*/ #efeff1;
	/* background: url('imagens/bg.jpg'); */
}

/* input, header, p {
	color: #FF0000 !important;
} */

/* footer {
	font-size: 40px;
	font-family: arial;
	color: #0000FF;
} */

.btn-cinza {
  color: #fff;
  background-color: #58c5d3;
  border-color: #7e8186;
}

.centralizar {
	text-align: center;
}