<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Exemplo</title>
	<meta charset="UTF-8" />
	<script type="text/javascript" src="vue.js"></script>
</head>
<body>
	<div id="app">
		<h1>Lista de Tarefas</h1>
		Tarefa: <input type="text" v-model="novatarefa" />
		<br />{{ novatarefa }}<br />
		<button @click="adicionarTarefa">Adicionar</button>
		<ul>
			<li is="lista" v-for="(item, index) in tarefas" :texto="item"></li>
		</ul>
	</div>
	<script type="text/javascript">
		Vue.component('lista', {
			props: ['texto'],
			template: '<li>{{ texto }}</li>'
		});
		var app = new Vue({
			el: '#app',
			data: {
				novatarefa:'',
				tarefas: []
			},
			methods: {
				adicionarTarefa: function() {
					this.tarefas.push(this.novatarefa);
					this.novatarefa = '';
				}
			}
		});
	</script>
</body>
</html>